.popoverContent {
	padding: 8px 16px;
	background-color: var(--color-purple-500);
	border-radius: 4px;
	color: var(--color-beige-light);
}

.popoverTrigger {
	all: unset;
	padding: 4px 8px;
	background-color: var(--color-off-white);
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: 0.1s;
}

.popoverTrigger:hover {
	background-color: var(--color-beige-light);
}

.popoverTrigger[data-state='open'] {
	background-color: var(--color-beige-light);
}
