.navbar {
	position: fixed;
	z-index: 10;
	display: flex;
	width: 100vw;
	height: 64px;
	align-items: center;
	padding: 0 24px;
	gap: 16px;
}

/*.navbar a {*/
/*	display: block;*/
/*}*/

.content {
	width: 100%;
	height: 100%;
	padding-top: 84px;
}
