@font-face {
	font-family: Spectral;
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../public/fonts/spectral/spectral-400.woff2') format('woff2'),
		url('../public/fonts/spectral/spectral-400.woff') format('woff');
}

@font-face {
	font-family: Spectral;
	font-style: italic;
	font-weight: 400;
	src: local(''),
		url('../public/fonts/spectral/spectral-400-italic.woff2') format('woff2'),
		url('../public/fonts/spectral/spectral-400-italic.woff') format('woff');
}

@font-face {
	font-family: Spectral;
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../public/fonts/spectral/spectral-700.woff2') format('woff2'),
		url('../public/fonts/spectral/spectral-700.woff') format('woff');
}

@font-face {
	font-family: Spectral;
	font-style: italic;
	font-weight: 700;
	src: local(''),
		url('../public/fonts/spectral/spectral-700-italic.woff2') format('woff2'),
		url('../public/fonts/spectral/spectral-700-italic.woff') format('woff');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../public/fonts/ibm-plex-sans/ibm-plex-sans-400.woff2') format('woff2'),
		url('../public/fonts/ibm-plex-sans/ibm-plex-sans-400.woff') format('woff');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 400;
	src: local(''),
		url('../public/fonts/ibm-plex-sans/ibm-plex-sans-400-italic.woff2')
			format('woff2'),
		url('../public/fonts/ibm-plex-sans/ibm-plex-sans-400-italic.woff')
			format('woff');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../public/fonts/ibm-plex-sans/ibm-plex-sans-700.woff2') format('woff2'),
		url('../public/fonts/ibm-plex-sans/ibm-plex-sans-700.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: normal;
	src: url('../public/fonts/pt-sans/PT-Sans_Regular.woff2') format('woff2'),
		url('../public/fonts/pt-sans/PT-Sans_Regular.woff') format('woff');
}
